<header>
	<%=  link_to '<button type="button" class="button">DefaultView</button>'.html_safe,   '/defaultviews/index' %>
<%=  link_to '<button type="button" class="button">UserView</button>'.html_safe,   '/dashboard/index' %>
<%=  link_to '<button type="button" class="button">AdminView</button>'.html_safe,  '/allviews/index' %>

<!--<%= button_to "AdminView",{controller: "allviews", action: "index" }%>-->
</header>
