body{
	background-color: bisque
}


aside,
footer,
header,
nav {
  display: block;
}
.head{
	width: 1290px;
	height: 100px;
	border: 1;
	background-color: lavenderblush


}
header{
	width: 1290px;
	height: 50px;
	background-color: darkslategray;
}
.button{
	
	font-size: 100%;
	color: white;
	border: 0;
	cursor: pointer;
	height:50px;
	background-color: darkslategray;
	margin-left: 200px;

}

