<!DOCTYPE html>
<html>
<head>
  <title></title>

  <%= stylesheet_link_tag    'allviews', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
